.feature__title {
  font-size: rem(24px);
  @include lifehack;
  color: $black;
  margin-bottom: rem(20px);
  @include phones {
    font-size: rem(20px);
  }
}


.feature__text {
  flex: 40;
  opacity: 0.8;
  color: #2f3234;
  @include ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: rem(24px);
  @include phones {
    font-size: rem(14px);
  }
}

.feature {
  text-align: center;
}

.feature__image {
  display: flex;
  justify-content: center;
  flex: 40;
  margin-bottom: rem(30px);
  @include phones {
    margin-right: rem(20px);
    width: 30%;
  }
}

.feature__image-element {
  padding-top: rem(10px);
  max-height: 100%;
} 

.feature__icon-pic {
  width: 90%;
  height: rem(100px);
  svg {
    max-width: 95%;
  }
  @include phones {
    position: static;
    transform: none;
  }
}

.feature__content {
  @include phones {
    text-align: left;
    display: block;
    width: 65%;
  }
}