.employee {
  flex-direction: column;
  margin-bottom: rem(40px);
  
  @include tablets {
    margin-bottom: rem(30px);
  }

	&:last-child {
		margin-bottom: 0;
	}

	&.active {
		.employee__link--trigger {
			color: $yellow;

			&:before {
				transform: rotate(-180deg);
			}
		}
	}
}

.employee__info {
  flex-direction: column;
}

.employee_image {
  flex: 5;
}

.employee__text {
  flex: 5;
}

.employee__link {
  text-decoration: none;
}

.employee__link--trigger {
	color: #fff;
	font-size: rem(14px);
	@include gagalin;
	text-decoration: none;
	position: relative;
	display: block;
	margin-bottom: rem(20px);

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: rem(-18px);
		top: rem(8px);
		width: 0;
    height: 0;
	}

	&:before {
		border-top: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-bottom: rem(0px) solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}

	&:after {
		display: none;
		border-bottom: rem(7px) solid $yellow;
		border-left: rem(5px) solid transparent;
		border-right: rem(5px) solid transparent;
		border-top: rem(0px) solid transparent;
	}

	@include tablets {
		display: inline-block;
		font-size: rem(25px);

		&:before {
			margin-top: rem(10px);
		}
	}

	@include phones {
		font-size: rem(20px);
	}
}

.employee__info {
	@extend %clearfix;
	padding-top: rem(14px);
	display: none;

	@include tablets {
		padding: 0 25%;
	}
}

.employee__info--displayed {
  display: table;
}

.employee_image {
	text-align: center;
	width: 30%;

	@include tablets {
		margin-bottom: rem(15px);
	}
}

.employee__avatar {
	@include inlineblock();
	width: rem(100px);
	height: rem(100px);
	@include cover;
	border-radius: 50%;
}

.employee__text {
	width: 70%;
}

.employee_image, .employee__text {
	float: left;

	@include tablets {
		float: none;
		width: 100%;
	}
}

.employee__post {
	@include ubuntu(bold);
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(14px);
}

.employee__text-content {
	@include ubuntu(light);
	color: #fff;
	font-size: rem(14px);
}