$itemsMargin: rem(25px);

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: currentColor;
    margin-left: $itemsMargin;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }

  &:last-child {
    margin-right: rem(20px);
  }
}

.nav__link {
  margin-left: $itemsMargin;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}